.selectColor_arr{
    background-color: #555;
}
.selectColor_background{
    background-color:#fff;
}
.selectColor_index{
    background-color:#f1a210;
}
.selectColor_indexp{
    background-color:#e2f383;
}
.selectColor_complete{
    background-color:#00f3fc;
}