.bubbleColor_arr{
    background-color: #555;
}
.bubbleColor_background{
    background-color:#fff;
}
.bubbleColor_index{
    background-color:#f1a210;
}
.bubbleColor_indexp{
    background-color:#e2f383;
}
.bubbleColor_complete{
    background-color:#00f3fc;
}