.insertColor_arr{
    background-color: #555;
}
.insertColor_background{
    background-color:#fff;
}
.insertColor_index{
    background-color:#f1a210;
}
.insertColor_complete{
    background-color:#00f3fc;
}